.backgroundimg{
    background-image: url('../public/barca.jpg');
}
.backgroundimg1{
     background-image: url('../public/mock-visual_pes2021.jpg');
}
.backgroundimg2{
    background-image: url('../public/PES-WE2021SU_16-9_Layout_4Clubs.jpg');
}
.backgroundimg3{
    background-image: url('../public/all.jpg');

}
.backgroundimg4{
    background-image: url('../public/2024-10-14_171328.png');

}