.backgroundimg{
    background-image: url('../public/barca.jpg');
}
.backgroundimg1{
     background-image: url('../public/pes.jpg');
}
.backgroundimg2{
    background-image: url('../public/PES-WE2021SU_16-9_Layout_4Clubs.jpg');
}
.backgroundimg3{
    background-image: url('../public/all.jpg');

}